@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: var(--branco);
}

:root{
    --principal : #2147FB;
    --branco : #fafafa;
    --cinza : #3c3c3c;
    --preto :#121417;

    --fonte-titulo : 'Poppins';
    --fonte-texto : 'Lexend Deca';
}

/* NavBar */
.nav-container{
    background-color: transparent;
    position: sticky;
    top: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--branco);
    border-bottom: 1px solid rgba(0, 0, 0, 0.058);
}

.logo img{
    height: 35px;
    width: 200px;
}
.nav-links{
    display: flex;
    color: var(--cinza);
    font-family: var(--fonte-texto);
    list-style: none;
}
.nav-links li>a{
    color: var(--cinza);
    margin: 0 20px;
    text-decoration: none;
    font-weight: 600;
}
.nav-links li>a:hover{
    color: var(--principal);
    transition: 0.3s;
}

.nav-btns button{
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-family: var(--fonte-texto);
    margin: 0px 10px ;
}
.nav-btns button:nth-child(1){
    background-color: transparent;
} 
.nav-btns button:nth-child(1):hover{
    background-color: #2147FB;
    color: var(--branco);
    transition: 0.3s;
    font-weight: 500;
}
.nav-btns button:nth-child(2){
    background-color: #2147FB;
    color: var(--branco);
    font-weight: 500;
}

/* Main */
main{
    margin: 0 80px;
}
.apresentation-container{
   display: flex; 
   padding: 20px;
   align-items: center;
}
.apresentation-txt{
    margin: 0 160px 0 0;
}
.apresentation-txt h1{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--preto);
}
.apresentation-txt p{
    font-family: var(--fonte-texto);
    font-size: 18px;
}

.apresentation-container button{
    margin-right: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    background-color: var(--principal);
    color: var(--branco);
    font-family: var(--fonte-texto);
}
.apresentation-container button>a{
    color: var(--branco);
    text-decoration: none;
}
i{
    margin-left: 10px;
}
